#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define WINDOWS 1

/ {
    keymap {
        compatible = "zmk,keymap";

        windows_default_layer {
            display-name = "Windows";
            bindings = <
                &kp Q             &kp W &kp F     &kp P    &kp G           &kp J        &kp L            &kp U     &kp Y   &kp BSPC       
                &kp A             &kp R &kp S     &kp T    &kp D           &kp H        &kp N            &kp E     &kp I   &kp O          
                &bm LSHFT Z       &kp X &kp C     &kp V    &kp B           &kp K        &kp M            &kp COMMA &kp DOT &bm RSHFT FSLH 
                &td_multi_windows &none &kp LCTRL &kp LALT &sm LCTRL SPACE &lt CODE TAB &lt NUMBER ENTER &none     &none   &none          
            >;
        };
    };
};