#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
                &kp Z    &kp M    &kp K    &kp M    &kp K
                &kp A    &kp B    &kp C    &kp B    &kp C
                &kp D    &kp E    &kp F    &kp E    &kp F
                &kp D    &kp E    &kp F    &kp E    &kp F
            >;
        };
    };
 };